#

In [133]:
from bs4 import BeautifulSoup as soup 
import pandas as pd
import pymongo 
import datetime

In [14]:
# Initialize Mongo 
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.test_raw_html_db
collection = db.job_detail

In [15]:
# Load data from our job detail collection in our raw_html_db database
data = pd.DataFrame(list(collection.find().limit(200)))

In [199]:
job_link_collection = db.j
pd.DataFrame(list(job_link_collection.find().limit(200)))

                         _id                                         link
0   5e8a4cffa94eb211b125562f                     Sr. Product Data Analyst
1   5e8a4cffa94eb211b1255630                     Sr Business Data Analyst
2   5e8a4cffa94eb211b1255631                        Business Data Analyst
3   5e8a4cffa94eb211b1255632                                 Data Analyst
4   5e8a4cffa94eb211b1255633                                 Data Analyst
5   5e8a4cffa94eb211b1255634                        Business/Data Analyst
6   5e8a4cffa94eb211b1255635                                 Data Analyst
7   5e8a4cffa94eb211b1255636                                 Data Analyst
8   5e8a4cffa94eb211b1255637                                 Data Analyst
9   5e8a4cffa94eb211b1255638                                 Data Analyst
10  5e8a4cffa94eb211b1255639                                 Data Analyst
11  5e8a4cffa94eb211b125563a    Data Analyst - Fixed Income Asset Manager
12  5e8a4cffa94eb211b125563b  Application Data Analyst, Quality Assurance
13  5e8a4cffa94eb211b125563c                                 Data Analyst
14  5e8a4cffa94eb211b125563d                   Data Scientist #: 20-03989
15  5e8a4cffa94eb211b125563e                               Data Scientist
16  5e8a4cffa94eb211b125563f                                 Data Analyst
17  5e8a4cffa94eb211b1255640                                 Data Analyst
18  5e8a4cffa94eb211b1255641                                 Data Analyst
19  5e8a4cffa94eb211b1255642                                 Data Analyst
20  5e8a4cffa94eb211b1255643                        Data Analyst, Content
21  5e8a4cffa94eb211b1255644                                 Data Analyst
22  5e8a4cffa94eb211b1255645          Data Scientist, Workforce Analytics
23  5e8a4cffa94eb211b1255646           Senior Data Analyst, Data Insights
24  5e8a4cffa94eb211b1255647                 Data Analyst / Growth Hacker
25  5e8a4cffa94eb211b1255648           Business Intelligence Data Analyst
26  5e8a4cffa94eb211b1255649                                 Data Analyst

In [17]:
len(data)

27

In [195]:
# create a list of lists that represent each row in our link src column of our data variable
# link_list = []
# for i in data.link_src:
#     for j in i:
# #       convert the raw html into a beautiful soup object we can parse later  
#         link_list.extend(soup(j,'html.parser'))

link_list = []
for html in data.link_src:
    link_list.append(soup(html,'html.parser'))

# def parse_data(data_table):
#     for html in data_table:
#         print(html)

# iterate through each sublist of html, parse it, save the result in a tuple then append it to a list as a dict
headers = []
job_titles = []
senority = []
posted = []
employment_type = []

for idx in range(len(link_list)):  
    for x in link_list[idx].find_all('h3','jobs-top-card__company-info t-14 mt1'):
        vitals = x.get_text().replace('Company Name','').replace('Company Location','').split('\n')
        vitals = tuple([elem for elem in vitals if elem.strip()])
        headers.append({'company':vitals[0].strip(),'location':vitals[1].strip()})
    try:
        for title in link_list[idx].find('h1',"jobs-top-card__job-title t-24"):
            job_titles.append(title)
    except:
        job_titles.append('n/a')
        print(idx,'NOOOOO')
    
    try:
        for x in link_list[idx].find('p','jobs-box__body js-formatted-exp-body'):
            senority.append(x)
    except:
        senority.append('n/a')
        
  

    try:
        for x in link_list[idx].find_all('p','mt1 full-width flex-grow-1 t-14 t-black--light'):
            posted.append(x.find_all('span')[1].text)
    except:
        posted.append('n/a')

    try:
        for x in link_list[idx].find('p','jobs-box__body js-formatted-employment-status-body'):
            employment_type.append(x)
    except:
        employment_type.append('n/a')

df1 = pd.DataFrame(headers)
df2 = pd.DataFrame(job_titles,columns=['job_title'])
df3= pd.DataFrame(senority,columns=['senority'])
df4= pd.DataFrame(posted,columns=['posted_time'])
df5 = pd.DataFrame(employment_type,columns=['employment_type'])
dataset  = pd.concat([df2,df1,df3,df4,df5],axis=1)
dataset['scrape_time'] = datetime.datetime.now()
dataset.head()

,job_title,company,location,senority,posted_time,employment_type,scrape_time
0,Sr. Product Data Analyst,Mercury Insurance,"Brea, California, United States",n/a,Posted 2 weeks ago,n/a,2020-04-05 16:22:08.501173
1,Sr Business Data Analyst,Harbor Freight Tools,"Calabasas, California",Mid-Senior level,Posted 4 weeks ago,Full-time,2020-04-05 16:22:08.501173
2,Business Data Analyst,Össur,"92610, Foothill Ranch, California, United States",n/a,Posted 1 week ago,n/a,2020-04-05 16:22:08.501173
3,Data Analyst,TikTok,"Los Angeles, California, United States",Mid-Senior level,Posted 5 days ago,Full-time,2020-04-05 16:22:08.501173
4,Data Analyst,Live Nation Entertainment,"Los Angeles, California, United States",Mid-Senior level,Posted 1 week ago,Full-time,2020-04-05 16:22:08.501173

In [191]:
employment_type=[]
for idx in range(len(link_list)):  
    try:
        for x in link_list[idx].find('p','jobs-box__body js-formatted-employment-status-body'):
            if x != None:
                employment_type.append(x)
#             print(f'{x} try')
    except:
        employment_type.append('n/a')
#         print(f'{x} except')

employment_type

['n/a',
 'Full-time',
 'n/a',
 'Full-time',
 'Full-time',
 'n/a',
 'Full-time',
 'Full-time',
 'n/a',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'n/a',
 'Full-time',
 'n/a',
 'Full-time',
 'Full-time',
 'Temporary',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time',
 'Full-time']

In [118]:
link_list[0].find_all('span','a11y-text')

[<span class="a11y-text">Company Name</span>,
 <span class="a11y-text">Company Location</span>,
 <span class="a11y-text">Posted Date</span>,
 <span class="a11y-text">Number of applicants</span>,
 <span class="a11y-text">Save Sr. Product Data Analyst at Mercury Insurance</span>,
 <span class="a11y-text">To 555 W Imperial Hwy, Brea, CA 92821</span>,
 <span class="a11y-text">At 8:00 AM</span>]

In [124]:
link_list[1].find_all('p','mt1 full-width flex-grow-1 t-14 t-black--light')

posted = []

try:
    for x in link_list[idx].find_all('p','mt1 full-width flex-grow-1 t-14 t-black--light'):
        posted.append(x.find_all('span')[1])
except:
    posted.append('n/a')

<span>Posted 3 weeks ago</span>

In [115]:
link_list[1].find_all('p','mt1 full-width flex-grow-1 t-14 t-black--light')[0].find_all('span')[1]

#    try:
#         for x in link_list[idx].find_all('p','mt1 full-width flex-grow-1 t-14 t-black--light')[0].find_all('span')[1].text:
#             senority.append(x)
#     except:
#         senority.append('n/a')
# try:
#     for x in link_list[idx].find_all('p','mt1 full-width flex-grow-1 t-14 t-black--light')[idx].find_all('span')[idx]:
#         print(x)
# except:
#      print(x)

In [20]:
pd.set_option('display.max_rows', None)
dataset.rename(columns={0:'position'},inplace=True)

In [21]:
dataset.head()

         position               company              location
0  Data Scientist  Gene Therapy Startup  Pasadena, California

In [38]:
job_details = []
for job in range(len(link_list)):
    try:
        for detail in link_list[job].find_all('span','jobs-ppc-criteria__value'):
            job_details.append(detail.get_text())
            print(detail)
    except: 
        print('no data here')
        pass

<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Mathematics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Statistics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytical Skills
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analysis
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Insurance
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Critical Thinking
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Problem Solving
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Presentations
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Project Management
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              401(k) Retirement Savings Plans
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
            Bachelor's Degree
          </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Mathematics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytical Skills
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analysis
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              A/B Testing
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Visualization
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Written Communication
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Tableau
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Amplitude Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Marketing Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              SQL
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytical Skills
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Visualization
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Tableau
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Reporting Tool
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Job Scheduling
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Problem Solving
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Azure Databricks
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              SQL
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analysis
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Business
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Health Policy
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Fortune 500
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Microsoft Excel
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Tableau
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Writing
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Resume
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Sequel
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analysis
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Science
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Coding Practices
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Visualization
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Tableau
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Models
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Key Metrics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Warehousing
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              SQL
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Capital Markets
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Corporate Bonds
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Microsoft Excel
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Tableau
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Risk Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Management
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Fixed Income
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
            Bachelor's Degree
          </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Computer Science
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Advertising
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Apache Spark
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Solutions
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Information Systems
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Hadoop
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Mining
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Big Data
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Design
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
            Bachelor's Degree
          </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Mathematics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Computer Science
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analysis
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Science
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              SQL Server Reporting Services (SSRS)
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Architecture
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Microsoft Power BI
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analytics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Relational Databases
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Modeling
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              SQL
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Analytical Skills
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Analysis
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Tableau
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Bayesian statistics
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Google BigQuery
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Looker (Software)
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Snowflake
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Presentation Skills
            </span>
<span class="jobs-ppc-criteria__value t-14 t-black t-normal ml2 block">
              Data Quality
            </span>

In [29]:
# final_job_skills= pd.DataFrame(job_details)
# final_job_skills= final_job_details.apply(lambda x: x.str.strip())
# final_job_skills = final_job_skills.rename(columns={0:'skills'})

In [614]:
# final_job_skills.to_csv('../data/updated_job_skills.csv')

In [615]:
# dataset.to_csv('../data/jobs_listing.csv')

In [480]:
db = client.raw_html_db
collection_1 = db.html

In [498]:
raw = pd.DataFrame(list(collection_1.find()))

In [527]:
html_soup = []

for i in raw.job:
    for j in i:
        html_soup.extend(soup(j,'html.parser'))

In [529]:
titles = []
for x in range(len(html_soup)):
    for a in html_soup[x].find_all('a','job-card-search__link-wrapper js-focusable disabled ember-view'):
            titles.append(a.text.strip())

In [25]:
tmp = []
for job in range(len(link_list)):
    try:
        for detail in link_list[job].find_all('span','jobs-ppc-criteria__value'):
            tmp.append((job,detail.get_text()))
    except: 
        print('no data here')
        pass

In [28]:
final_job_skills_index  = pd.DataFrame(tmp,columns=['job_index','skills'])
final_job_skills_index.skills = final_job_skills_index.skills.map(lambda x: x.strip())
final_job_skills_index 
# final_job_skills_index.to_csv('../data/skills_indexed.csv')

   job_index                skills
0          0      Computer Science
1          0          Data Science
2          0        Bioinformatics
3          0        DNA Sequencing
4          0  Pipeline Development
5          0        Bioengineering
6          0            Sequencing
7          0      Machine Learning
8          0     Bachelor's Degree

In [30]:
tmp = []
for job in range(len(link_list)):
    try:
        for detail in link_list[job].find_all('span','jobs-ppc-criteria__value'):
            print((job,detail.get_text()))
    except: 
        print('no data here')
        pass

(0, '\n              Computer Science\n            ')
(0, '\n              Data Science\n            ')
(0, '\n              Bioinformatics\n            ')
(0, '\n              DNA Sequencing\n            ')
(0, '\n              Pipeline Development\n            ')
(0, '\n              Bioengineering\n            ')
(0, '\n              Sequencing\n            ')
(0, '\n              Machine Learning\n            ')
(0, "\n            Bachelor's Degree\n          ")

In [537]:
# employers = []
# for x in range(len(html_soup)):
#     for a in html_soup[x].find_all('a','job-card-search__company-name-link t-normal ember-view', href=True):
#         employers.append(a.text.strip())

In [536]:
# employers

In [506]:
# locations = []
# for x in range(len(html_soup)):
#     for a in html_soup[x].find_all('span',"job-card-search__location artdeco-entity-lockup__caption ember-view"):
#         locations.append(a.text.strip())